extends layout

block content

  div(data-template='about')#content.content
   div.about
    .about__wrapper
        div.about__content
          p(data-animation="paragraph") Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, corrupti enim necessitatibus exercitationem quos error aut, eaque dolor dolore quia consequatur eveniet repudiandae dicta earum? Reprehenderit quod ex omnis quo!
          p(data-animation="paragraph") Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, corrupti enim necessitatibus exercitationem quos error aut, eaque dolor dolore quia consequatur eveniet repudiandae dicta earum? Reprehenderit quod ex omnis quo!
          p(data-animation="paragraph") Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, corrupti enim necessitatibus exercitationem quos error aut, eaque dolor dolore quia consequatur eveniet repudiandae dicta earum? Reprehenderit quod ex omnis quo!
          p(data-animation="paragraph") Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, corrupti enim necessitatibus exercitationem quos error aut, eaque dolor dolore quia consequatur eveniet repudiandae dicta earum? Reprehenderit quod ex omnis quo!
          p(data-animation="paragraph") Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, corrupti enim necessitatibus exercitationem quos error aut, eaque dolor dolore quia consequatur eveniet repudiandae dicta earum? Reprehenderit quod ex omnis quo!
          p(data-animation="paragraph") Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, corrupti enim necessitatibus exercitationem quos error aut, eaque dolor dolore quia consequatur eveniet repudiandae dicta earum? Reprehenderit quod ex omnis quo!
          p(data-animation="paragraph") Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, corrupti enim necessitatibus exercitationem quos error aut, eaque dolor dolore quia consequatur eveniet repudiandae dicta earum? Reprehenderit quod ex omnis quo!
