doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name='description', content='Your only elegant quality based store')

    title #{title}

    link(rel="stylesheet" href="/assets/app.css")
  
  body
    include ./partials/preloader
    include ./partials/navigation
    .container
        block content

    script(src="/assets/app.js")
