.preloader
  .preloader__text 
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, illum enim, voluptates hic eaque mollitia odio sint quibusdam id, veniam corporis quos sequi! Accusamus neque, animi minus excepturi quidem ipsum!
  .preloader__number 0%